.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0; /* creates space between sections */
}
.center-image img {
  width: 100px;   /* adjust this number smaller if needed */
  height: auto;
  border-radius: 10px;
}

/* extra spacing for sections */
.dedication {
  margin-bottom: 40px;
}

.contact {
  margin-top: 40px;
}
